
        body{
            width: 100%;;
        }
        * {
            margin: 0px;
            padding: 0px;
            font-family: -apple-system, BlinkMacSystemFont,
                San Francisco, Helvetica Neue, Helvetica,
                Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
            font-size: 14px;
        
        }

        #navbar {
            border-bottom: 1.35px solid rgb(218, 213, 213);
            height: 115px;
            width: 100%;
            /* position: relative; */
            
            position: sticky;
            top:0;
            z-index: 10;
            background: #fff;  
        }
        /* #container{
           
            position: absolute; 
        } */

        #nav1 {
            height: 50%;

        }

        #nav2 {
            height: 50%;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        #nav2>div {
            width: 33%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            height: 100%;
            /* gap: 10px; */
        }

        #searchQuery {
            /* width: 100%; */
            padding-top: 60px;
            padding-left: 12px;
        }

        #queryText {
            text-transform:capitalize;
            font-size: 46px;
            line-height: 1.25;
            bottom: 0;
        }

        #suggestions {
            display: grid;
            grid-template-columns: repeat(10, 145px);
            gap: 8px;
            overflow: auto;
            /* padding: 10px; */
            margin-bottom: 60px;
            padding-top: 25px;
            margin-left: 12px;
        }

        #suggestions::-webkit-scrollbar {
            display: none;

        }



        button {
            /* padding: 6px; */
            background-color: white;
            border: 0.5px solid rgb(218, 213, 213);
            border-radius: 5px;
            padding-top: 12px;
            padding-bottom: 12px;
            color: gray;
        }

        button:hover {
            color: black;
            border: 0.5px solid black;
            cursor: pointer;
        }

        .selectOptions {
            display: flex;
          
            height: 60%;
            padding-top: 20px;
            gap: 10px;
        }

        .flaticon {
            height: 15px;
            width: 15px;
            opacity: 0.3;

        }
        .selectOptions:hover>.flaticon{
            opacity: 10;
        }
        

        .selectOptions>p {

            color: grey;
        }

        .selectOptions:hover>p{
            color: black;

        }

        .selectOptions:hover{
            border-bottom: 3px solid black;
        }

        .sorting>select {
            padding: 10px;
            border: none;
            color: grey;
        }

        .sorting:hover>select {
            color: black;
        }

        .advertise{
            margin-top: 60px;
            margin-left: 7px;
        }
        /* .advertise:hover{
        
        } */

        .advertise>a>img{

            width: 1250px;
        }

        /* appending the search results css*/
    
        #searchResults {
            /* display: flex; */
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
            width:97%;
            margin: auto;
            /* position: relative ; */
        }
        /* /////////////////////////////////////////////////////////////////////////////// */
        .imageDiv {
            margin-top: 20px;
            position: relative;
        }

        .imageDiv:hover>.addsign{
            visibility: visible;
            opacity: 0.7;
        }
        .imageDiv:hover>.likes{
            visibility: visible;
            opacity: 0.7;
        }
        .imageDiv:hover>.propicDiv{
            visibility: visible;
        }
        .picture {
            position: relative;
            width: 100%;
        }
        .likes{
            height:30px;
            width:30px;
            position:absolute;
            top: 10px;
            right: 50px;
            background-color: #eee;
            padding: 5px;
            border-radius: 5px;
            visibility: hidden;
            
        }

        .addsign{
            height:30px;
            width:30px;
            position:absolute;
            top: 10px;
            right: 15px;
            background-color: #eee;
            padding: 5px;
            border-radius: 5px;
            visibility: hidden;
        }
        .propicDiv{
    
            position:absolute;
            display: flex; 
            bottom: 20px;  
            gap: 10px;
            margin-left: 10px; 
            visibility: hidden;

        }
        .proPic{
            /* position: absolute; */
            height:35px;
            width:35px;
            border-radius: 50%;
        }
        .propicDiv>p{
            font-size: 18px;
            font-weight:300;
            color: white;
            padding-top: 8px;
        }

        
        /* effect on images on hovering */

        .imageDiv:hover{
            background-color: black;
            cursor: zoom-in;
            
        }

       
        .picture:hover{
            opacity: 0.5;
        }
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */

        /* searchbar css */

        #searchbar{
            width: 400px;
            background-color: white;
            border: none;
            border-radius: 10px;
            padding: 10px;
            font-style: italic;
            
        }

        /* #orientation{


        } */

        #imgCont{
            /* width: 33%; */
            display: grid;
            grid-template-columns: repeat(1, 250px 145px);
            gap: 2px;

        }
        #imgCont:hover{
            opacity: 0.7;
        }
        #imgCont>img{
            width:100%;
            height: 300px;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
        .imgs{
            display: grid;
            width:100%;
            gap: 2px;
          
        }

        .imgs>img{
            display: block;
            width:100%;
            height: 149px;
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
        }

        .collectionDiv>h1{
            /* height: 40px; */
            font-size: 18px;
            font-weight: 600;
            padding-top: 20px;
        }

        .AB{
            padding-top: 10px;
            display: flex;

        }
        .AB>p{
            color: grey;
            margin-right: 12px;
        }
        .ptext{
            padding-top: 10px;
            display: flex;
            width: auto;
            margin-bottom: 30px;
            
        }
        .ptext>p{
            text-transform: capitalize ;
            padding: 5px;
            color: grey;
            background-color: #eee;
            margin-left: 10px;
            border-radius: 3px;
        }
        .ptext>p:first-child{
            margin-left: 0px;
        }


       